@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300&display=swap");
$green: hwb(145 13% 43%);
$darkGreen: #10221b;
$light-bg: #eee;
$border: 2px solid $darkGreen;
$box-shado: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$gradiantBg: linear-gradient(
  to right,
  rgb(35, 112, 35) 35%,
  rgb(50, 204, 114),
  rgb(35, 112, 35) 65%
);

// to make any grid take this orders
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 3.5rem;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn {
  @include flex;
  flex-direction: column;
}

%btn {
  cursor: pointer;
  &:hover {
    color: $green;
  }
}

%Padding-Maring-hover {
  margin: 0 0.4rem;
  padding: 8px 0.5rem;
  @extend %btn;
}
* {
  font-family: "Poppins", sans-serif;
  color: $darkGreen;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;

  &::-webkit-scrollbar {
    width: 0.62rem;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background: $darkGreen;
  }
}

body {
  overflow-x: hidden;
  > div {
    @extend section;
  }
}

section {
  padding: 4rem 9%;
}
p {
  line-height: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}

.icon,
.fas,
.fa-regular {
  font-size: 1.2rem;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.6rem;
  i {
    font-size: 1.6rem;
    color: $green;
  }
}

.preload {
  opacity: 1;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 120;

  .text {
    position: absolute;
    left: 50%;
    top: 5%;
    translate: -50% 20%;
    width: 100%;
    text-align: center;
    @extend .logo;
    letter-spacing: 5px;
    word-spacing: 5px;
    span {
      font-size: 2.6rem;
      display: inline;
      -webkit-text-stroke: 1.5px $darkGreen;
      background: $gradiantBg;
      background-clip: text;
      color: transparent;
      animation: colorPlay 1s linear 0.5s infinite alternate;
    }
    i {
      -webkit-text-stroke: 1.5px $darkGreen;
      font-size: 2.6rem;
    }
  }
  .circle {
    position: absolute;
    left: 50%;
    top: 25%;
    translate: -50% 20%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #00000055 solid 5px;
    border-bottom-color: rgb(31, 78, 31);
    animation: rotatCircle 1.5s linear infinite;
  }
  .imageBox {
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100%;
    background: {
      image: url(/photos/preload.svg);
      position: top center;
      repeat: no-repeat;
      size: 80%;
    }
  }
}
.preload.loading {
  opacity: 0;
  z-index: -1;
}

@keyframes colorPlay {
  from {
    background-position: 10rem 0rem;
  }
  to {
    background-position: -10rem 0rem;
  }
}

@keyframes rotatCircle {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  padding: 8px 7% 8px 8%;
  padding-bottom: 0.5rem;
  @include flex;
  background: #ffffffa0;

  .logo {
    margin-right: auto;
  }
  #cartBtn {
    position: relative;
    #quantity {
      visibility: hidden;
      position: absolute;
      top: -2px;
      right: -2px;
      background: #0f0;
      padding: 3px 6px 2.5px;
      border-radius: 50%;
      font-size: 1rem;
      color: #000;
    }
  }
  nav {
    font-size: 0;

    .fa-xmark {
      display: none;
      color: $darkGreen;
    }
    a {
      font-size: 1.1rem;
      font-weight: 600;
      @extend %Padding-Maring-hover;
      &.active {
        color: $green;
      }
    }
  }
  .icons {
    a,
    div {
      @extend %Padding-Maring-hover;
      cursor: pointer;
      margin-right: 0;
      margin-left: 1rem;
    }
    #menu {
      display: none;
    }
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  @include flex;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
  z-index: 113;
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
  }

  form {
    border-bottom: #bbb 2px solid;
    @include flex;
    input {
      color: #fff;
      background: transparent;
      padding: 10px;
      font-size: 1rem;
      width: 40vw;
      outline: none;
      border: none;
      &::placeholder {
        color: #bbb;
      }
    }
    label {
      @extend %btn;
      color: #fff;
      font-size: 1.8rem;
    }
  }
}

#cart {
  width: 60%;
  max-width: 500px;
  background: #fff;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
  z-index: 112;
  display: grid;
  grid-template-rows: 55px 1fr 55px;
  transition: 0.5s;
  translate: 110%;

  .cartTitle {
    width: 100%;

    .fa-dumpster {
      position: absolute;
      top: 1.3rem;
      left: 1.5rem;
      font-size: 1.5rem;
      &:hover {
        color: #a00;
      }
    }
    .cart-close {
      color: #000;
      font-size: 2rem;
      font-weight: 700;
      &:hover {
        color: #a00;
      }
    }
    h3 {
      text-align: center;
      color: $green;
      margin-top: 0.9rem;
    }
  }
  .cartList {
    width: 100%;
    @extend html;
    &::-webkit-scrollbar-thumb {
      border-radius: 2rem;
      background: $green;
    }

    .product {
      @include flex;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem 1rem;
      margin: 1.5rem;
      background: #99999955;
      border-radius: 10px;
      box-shadow: 0.5rem 0.5rem 1rem #00000055;
      &:hover {
        background: #00440044;
      }

      .titleAndPrice {
        text-align: center;
        h4 {
          font-size: 1rem;
        }
        span {
          padding: 0.3rem 0;
          font-size: 1.2rem;
        }
      }
      .imagebox {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: $light-bg;
        border: $border;
        flex-shrink: 0;
        @include flex;
        overflow: hidden;

        img {
          max-width: 90%;
          max-height: 90%;
        }
      }

      .dec-increase {
        @include flex();
        gap: 0.5rem;

        .fa-trash {
          margin-left: 2rem;
          &:hover {
            color: #a00;
          }
        }
      }
    }
  }
  .cartBottom {
    display: grid;
    width: 100%;
    padding: 10px;
    grid-template-columns: 130px 1fr;
    gap: 10px;

    > * {
      border-radius: 10px;
      @include flex;
    }
    .total {
      color: #fff;
      background: $darkGreen;
    }
    .checkOut {
      background: #0a0;
      cursor: pointer;
      &:hover {
        background: #2c2;
      }
    }
  }
}

.fa-xmark {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  font-size: 2.8rem;
  color: #fff;
  @extend %btn;
}

.btn {
  display: inline-block;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: $border;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  background: #ffffff60;
  &:hover {
    background: $darkGreen;
    color: #fff;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: $green;
  font-size: 2.5rem;
  font-weight: 600;
}

#home {
  padding: 0;
  width: 100%;
  height: 100vh;

  .slide {
    height: 100%;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    @include flex;
    &.secondBg {
      background-position: center 70%;
    }
    .content {
      background: #ffffff60;
      width: 55%;
      max-width: 43rem;
      margin-left: auto;
      margin-right: 5%;
      padding: 0 2rem 1rem;
      &.second {
        background: #ffffff40;
        margin-left: 0;
        margin-right: auto;
        margin-left: 5%;
      }
      &:hover {
        background: #ffffffb0;
      }

      h3 {
        font-size: 2.2rem;
        font-weight: 500;
      }
      h2 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 2px;
        color: $green;
      }
      p {
        padding-bottom: 10px;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.category {
  .boxes-container {
    @include flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    .box {
      width: 15rem;
      @include flexColumn;
      gap: 1rem;
      margin: 20px 0;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      p {
        text-align: center;
      }
      a {
        font-size: 1rem;
      }
    }
  }
}

#about {
  @include flex;
  flex-wrap: wrap;
  gap: 2rem;
  background: $light-bg;
  .imageBox {
    flex: 1 1 26rem;
    img {
      margin-right: auto;
      width: 90%;
      box-shadow: 1.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
    }
  }
  .content {
    flex: 1 1 26rem;

    h2 {
      font-size: 2rem;
      color: $green;
    }
    p {
      padding: 0.8rem 0;
    }
  }
}

span {
  display: block;
  color: $green;
  font-size: 1.4rem;
}

#shop {
  .zoomImageBoxs {
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    position: fixed;
    top: 50%;
    right: 50%;
    translate: 50% -50%;
    box-shadow: 0 0 0 105vw rgba(0, 0, 0, 0.5);
    display: none;
    &.active {
      @include flex;
      // grid-template-rows: 50px 1fr ;
      z-index: 116;
    }
    .classZoom {
      z-index: 116;
    }
    img {
      z-index: 115;
      max-width: 90%;
      // min-width: 50%;
      max-height: 90%;
      // min-height: 50%;
      box-shadow: 0 0 0 105vw rgba(0, 0, 0, 0.8);
      background: rgba(200, 200, 200, 0.8);
    }
  }
  #shopContainer {
    height: 390px;
    .slide {
      width: 200px;
      height: 360px;
      @include flexColumn;
      justify-content: flex-start;
      gap: 0.5rem;
      border: $border;
      box-shadow: 0px 5px 15px #000;
      &:hover .imagebox .icons {
        transform: translateY(0px);
      }
      .imagebox {
        background: $light-bg;
        width: 100%;
        height: 230px;
        overflow: hidden;
        @include flexColumn;
        position: relative;

        img {
          max-width: 180px;
          max-height: 230px;
        }
        .icons {
          position: absolute;
          bottom: 20px;
          z-index: 100;
          transform: translateY(80px);
          a {
            padding: 10px;
            background: $darkGreen;
            margin-right: 2px;
            color: #fff;
            font-size: 0.9rem;
            &:hover {
              background: $green;
            }
          }
        }
      }
      h4 {
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }
  }
}

#packages,
.services {
  background: $light-bg;
  .box-container {
    @include grid(340px);
    gap: 2.7rem;
    .box {
      background: #fff;
      height: 490px;
      padding-bottom: 30px;
      @include flexColumn;
      justify-content: flex-start;
      gap: 10px;
      border: $border;
      box-shadow: $box-shado;
      border-radius: 5px;
      &.service {
        height: 365px;
      }

      &:hover {
        background: $darkGreen;
        > img {
          filter: invert(1);
        }
        h3,
        p {
          color: #fff;
        }
        a {
          border-color: $darkGreen;
          background: #fff;
          color: $darkGreen;
          &:hover {
            background: $green;
            border-color: $darkGreen;
            color: #fff;
          }
        }
      }
      > img {
        max-width: 130px;
        max-height: 130px;
        padding-top: 20px;
      }
      .imgBox {
        width: 90%;
        margin: 20px;
        height: 200px;
        text-align: center;
        @include flex;
        overflow: hidden;
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
      h3 {
        text-transform: capitalize;
      }
      p {
        text-align: center;
        width: 80%;
      }
    }
  }
}

#reviews {
  .containerBox {
    .commentBox {
      margin-top: 15px;
      width: 400px;
      .content {
        background: linear-gradient(to bottom, #eee, #ccc);
        padding: 1rem;
        border-radius: 5px;
        position: relative;
        p {
          line-height: 2rem;
          font-style: italic;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -15px;
          left: 32px;
          height: 30px;
          width: 30px;
          background: #ccc;
          transform: rotate(45deg);
        }
      }
      .pearson {
        padding-top: 30px;
        @include flex;
        justify-content: flex-start;
        gap: 10px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        .info {
          h4 {
            font-size: 1.2rem;
          }
          span {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

#blogs {
  #blogsContainer {
    .blogspost {
      text-align: center;
      min-height: 430px;
      @include flexColumn;
      gap: 8px;

      .imageAndDate {
        width: 100%;
        height: 230px;
        position: relative;
        .imageBox {
          width: 100%;
          height: 220px;
          @include flex;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .date {
          width: 75%;
          min-width: 250px;
          height: 35px;
          background: $darkGreen;
          position: absolute;
          bottom: -5px;
          left: 12.5%;
          @include flex;
          justify-content: space-evenly;
          gap: 5px;
          padding: 5px;
          a {
            color: #fff;
            font-size: 0.85rem;
            &:hover {
              color: $green;
            }
            i {
              padding-right: 6px;
              color: $green;
            }
          }
        }
      }
      h3 {
        margin-top: 1rem;
      }
      p {
        text-align: center;
      }
    }
  }
}

.newsletter {
  background: $light-bg;
  .container {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    h3 {
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
    form {
      margin: 30px 0;
      width: 100%;
      border: $border;
      border-radius: 30px;
      background: #fff;
      display: flex;
      align-items: center;

      input {
        border-radius: 30px;
        background: none;
        width: 100%;
        outline: none;
        border: none;
        font-size: 1rem;
        padding: 1.4rem 1rem;
      }
      button {
        margin-top: 0;
        margin-right: 10px;
        background: $darkGreen;
        color: #fff;
        border-radius: 30px;
        font-size: 1rem;
        height: 60%;
        padding: 10px 18px;
        &:hover {
          color: $darkGreen;
          background: none;
        }
      }
    }
  }
}

.clients {
  .clientsImge {
    .slide {
      width: 200px;
      @include flex;
      height: 150px;
      img {
        max-width: 150px;
        max-height: 100%;
      }
    }
  }
}

footer {
  @extend section;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./photos/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
    div {
      text-align: center;
      width: 190px;
      margin-top: 20px;
      &.emailBug {
        flex-shrink: 0;
        width: 270px;
      }
      h4 {
        color: #fff;
        font-size: 1.3rem;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }
      a {
        font-size: 1rem;
        width: fit-content;
        text-wrap: nowrap;
        margin: 8px auto;
        padding: 8px 15px;
        display: block;
        color: #fff;
        &.email {
          padding: 10px 0;
        }
        &:hover {
          color: $green;
          letter-spacing: 1px;
        }
        .icon {
          color: $green;
          padding-right: 10px;
        }
      }
    }
  }
  h3 {
    margin-top: 4.5rem;
    text-align: center;
    color: #fff;
    span {
      display: inline;
    }
  }
}

@media (width <= 1350px) {
  .category {
    .boxes-container {
      gap: 2rem;
      .box {
        width: 13.8rem;
        img {
          width: 180px;
          height: 180px;
        }
      }
    }
  }
  #packages,
  .services {
    .box-container {
      @include grid(300px);
      gap: 2.5rem;
    }
  }
}

@media (width <= 1200px) {
  %Padding-Maring-hover {
    margin: 0 0.25rem;
    padding: 8px 0.3rem;
  }
  // .preload .imageBox{
  //   width: 90%;
  //   margin: 0;
  // }
  header {
    padding: 8px 4%;
  }
  section {
    padding: 4rem 4%;
  }
  footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .container {
      justify-content: center;
    }
  }
}

@media (width <= 1024px) {
  html {
    font-size: 95%;
  }
  .preload .imageBox {
    background-size: cover;
  }
  .category {
    .boxes-container {
      .box {
        width: 17rem;
        margin: 40px 25px;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  footer {
    .container {
      justify-content: space-evenly;
    }
  }
}

@media (width <= 930px) {
  header {
    padding: 8px 20px;
  }
  .preload .imageBox {
    width: 100%;
    margin: 0;
  }
  #cart .cartList .product .dec-increase .fa-trash {
    margin-left: 1.5rem;
  }
  #about {
    .imageBox {
      text-align: center;
      img {
        margin-right: 2rem;
        max-width: 550px;
      }
    }
  }
  footer {
    .container {
      div {
        width: 220px;
        &.emailBug {
          margin-top: 40px;
        }
      }
    }
  }
}

@media (width <= 840px) {
  header {
    align-items: flex-start;
    padding: 8px 4%;
    nav {
      transition: 0.5s;
      height: 100vh;
      width: 50vw;
      @include flexColumn;
      position: absolute;
      top: 0;
      left: -110vw;
      background: #fff;
      z-index: 111;
      .fa-xmark {
        font-size: 2.2rem;
        display: block;
      }
      a {
        margin: 10px;
        font-size: 1.5rem;
      }
    }
    .icons #menu {
      display: inline-block;
    }
  }
  #cart {
    .cartList {
      .product {
        .imagebox {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
  .category {
    .boxes-container {
      .box {
        margin: 40px 0;
      }
    }
  }
  footer {
    .container {
      gap: 2rem;
      div {
        &.emailBug2 {
          width: 270px;
        }
        &.emailBug {
          margin-top: 20px;
        }
      }
    }
  }
  #about {
    .imageBox {
      img {
        width: 80%;
      }
    }
  }
}

@media (width <= 768px) {
  html {
    font-size: 90%;
  }
  #cart {
    .cartList {
      .product {
        .imagebox {
          width: 80px;
          height: 80px;
        }
        .dec-increase .fa-trash {
          margin-left: 0.7rem;
        }
      }
    }
  }
  #home {
    .slide {
      .content {
        margin: 0 50px;
        width: 100%;
        &.second {
          margin: 0 50px;
          width: 100%;
        }
      }
    }
  }
}

@media (width <= 650px) {
  #cart {
    .cartList {
      .product {
        display: grid;
        gap: 0;
        grid-template-columns: auto 120px;
        grid-template-rows: auto auto;
        grid-template-areas:
          "imagebox titleAndPrice"
          "imagebox dec-increase";
        padding: 1rem 1.5rem;
        .titleAndPrice {
          grid-area: titleAndPrice;
          h4 {
            max-width: 120px;
            margin: auto;
          }
        }
        .dec-increase {
          grid-area: dec-increase;
        }
        .imagebox {
          grid-area: imagebox;
        }
      }
    }
  }
}
@media (width <= 550px) {
  #cart {
    .cartList {
      .product {
        grid-template-columns: auto 90px;
        margin: 1.5rem 1rem;
        .imagebox {
          width: 75px;
          height: 75px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
  #home {
    .slide {
      background-position: 40% 40%;
    }
  }
}

@media (width <= 450px) {
  html {
    font-size: 80%;
  }
  #cart {
    .cartList {
      .product {
        grid-template-columns: auto 90px;
        padding: 0.8rem 0.5rem;
        margin: 1.5rem 1rem;
        .imagebox {
          width: 70px;
          height: 70px;
        }
      }
    }
    .cartBottom {
      grid-template-columns: 110px 1fr;
    }
  }
  #about {
    .imageBox {
      img {
        width: 90%;
      }
    }
  }
}
@media (width <= 360px) {
  #cart {
    .fas,
    .fa-regular {
      font-size: 1.1rem;
    }
    .cartList .product {
      .imagebox {
        width: 70px;
        height: 70px;
      }
      .titleAndPrice {
        h4,
        .cartBottom {
          font-size: 0.9rem;
        }
        span {
          font-size: 1.1rem;
        }
      }
      .dec-increase {
        gap: 0.4rem;
        .fa-trash {
          margin-left: 0.4rem;
        }
      }
    }
    .cartBottom {
      grid-template-columns: 105px 1fr;
      gap: 5px;
    }
  }
}
